/data/osm/arizona.osh.pbf           POLY    /home/anderstj/opt/osm-history-splitter/clipbounds/us-west/arizona.poly    
/data/osm/california.osh.pbf        POLY    /home/anderstj/opt/osm-history-splitter/clipbounds/us-west/california.poly
/data/osm/colorado.osh.pbf          POLY    /home/anderstj/opt/osm-history-splitter/clipbounds/us-west/colorado.poly  
/data/osm/idaho.osh.pbf             POLY    /home/anderstj/opt/osm-history-splitter/clipbounds/us-west/idaho.poly      
/data/osm/montana.osh.pbf           POLY    /home/anderstj/opt/osm-history-splitter/clipbounds/us-west/montana.poly    
/data/osm/new-mexico.osh.pbf        POLY    /home/anderstj/opt/osm-history-splitter/clipbounds/us-west/new-mexico.poly
/data/osm/oregon.osh.pbf            POLY    /home/anderstj/opt/osm-history-splitter/clipbounds/us-west/oregon.poly    
/data/osm/utah.osh.pbf              POLY    /home/anderstj/opt/osm-history-splitter/clipbounds/us-west/utah.poly      
/data/osm/washington.osh.pbf        POLY    /home/anderstj/opt/osm-history-splitter/clipbounds/us-west/washington.poly 

